/__pycache__/batalhas.cpython-312.pyc
/__pycache__/mapa.cpython-312.pyc
/__pycache__/rota.cpython-312.pyc
/__pycache__/batalhas.cpython-314.pyc
/__pycache__/mapa.cpython-314.pyc
/__pycache__/rota.cpython-314.pyc
/debug.log
